@charset "UTF-8";


/* Typical Device Breakpoints 
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
desktop: 992px até 1200px
TV: acima de 1200px

*/


*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #005C53;
    width: 100vw;
    height: 100vh;
    color: #042940;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}




section#login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #9FC131;
    height: 515px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 10px #04294080;
    border-radius: 20px;
    transition: width .3s, height .3s;
    transition-timing-function: ease;

}

section#login > div#imagem{    
    display: block;
    background: black url(../image/image.jpg);
    background-size: cover;
    background-position: center center;
    height: 200px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.349);

}

section#login > div#formulario{
    display: block;
    padding: 10px;
}

div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.9em;
    

}

form > div.campo{
    background-color: #005C53;
    border: 2px solid #005C53;
    display: block;    
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border-radius: 8px;
}

div.campo > span{
    font-size: 2em;
    
    color: white;
    width: 40px;
    padding: 5px;
    
}

div.campo > label{
    display: none;
}

div.campo >input{
    height: 100%;
    font-size: 1em;
    width: calc(100% - 44.5px);
    background-color: #DBF227;    
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-13px);
}

div.campo > input:focus-within{
    background-color: white;
}

form > input[type=submit]{
    display: block;
    color: white;
    font-size: 1em;
    background-color: #005C53;
    width: 100%;
    height: 40px;    
    border-radius: 5px;
    cursor: pointer;
    
    border: none;
    

}

form > #button:hover{    
    background-color: #DBF227;
    
}

